* {
	font-family: Roboto;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #eee;
	margin: 0px;
	scroll-behavior: smooth;
}

/*
Note:

Ungu > #F129DB
Biru > #1BE3F0
Blue > #007BFF

*/


/*my navbar*/
.navbar {
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #333;
	position: fixed;
	z-index: 999;
}

.navbar a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar a.active {
	background-color: #007BFF;
	color: white;
	/*margin-right: 600px;*/
}

/*my navbar*/


.jumbotron {
	padding-top: 150px;
	padding-bottom: 30px;
	margin: auto;
	text-align: center;
	background-image: url('img/jumbotron.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: #eaeaea;
	text-shadow: 1px 1px 5px rgb(0, 0, 0, .5);
	background-position: 0 -80px;
	overflow: hidden;
}

.jumbotron img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	/*border: 5px solid white;*/
}

.jumbotron h1 {
	margin-bottom: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: lighter;
	font-size: 50px;
}
.jumbotron h3 {
	margin-top: 0px;
	letter-spacing: 7px;
	font-family: Bebas Neue;
}

/*jumbotron parallax*/
.jumbotron img, .jumbotron h1, .jumbotron h3 {
	opacity: 0;
	transform: translate(0px, -40px);
}

.jumbotron .pop-image {
	opacity: 1;
	transition: 1.5s;
	transform: translate(0px, 0px);
}

.jumbotron .pop-text {
	opacity: 1;
	transition: 1s;
	transform: translate(0px, 0px);
}

/*jajal parallax*/
.para-edu{
	opacity: 0;
	transform: translate(0px, -40px);
}

.para-edu.pap {
	opacity: 1;
	transition: 2s;
	transform: translate(0px, 0px);
}

.para-about{
	opacity: 0;
	transform: translate(0px, -40px);
}

.para-about.pap {
	opacity: 1;
	transition: 2s;
	transform: translate(0px, 0px);
}

.para-porto{
	opacity: 0;
	transform: translate(0px, -40px);
}

.para-porto.pap {
	opacity: 1;
	transition: 2s;
	transform: translate(0px, 0px);
}

.para-foo{
	opacity: 0;
	transform: translate(0px, -40px);
}

.para-foo.pap {
	opacity: 1;
	transition: 2s;
	transform: translate(0px, 0px);
}
/*ternyata dadi, wkwkwk*/

.education {
	display: flex;
	background-color: #333;
	width: 100%;
	padding-bottom: 20px;
	color: white;
}

.edu-title h1 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 70px;
}

.edu-title {
	margin: auto;
	width: 50%;
}

.edu-history {
	margin: auto;
	width: 50%;
}

.edu-history h2 {
	margin-bottom: 0px;
	margin: 0px;
	padding: 0px;
	font-family: 'Segoe UI';
}

.edu-history h4 {
	margin-top: 0px;
	opacity: .75;
}

.edu-history ul li::marker {
	font-size: 80px;
	color: #1BE3F0;
	box-shadow: 10px 10px black;
}

.circle {
	width: 25px;
	height: 25px;
	background-color: #F129DB;
	border-radius: 50%;
	top: 85px;
	right: 65px;
	position: relative;
}

.about {
	margin: auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
	background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('img/mac.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.about-description {
	width: 50%;
	margin: auto;
	margin-bottom: 0px;
}

.about-description h1 {
	font-family: 'Segoe UI';
	font-weight: 100;
	font-size: 40px;
	margin-bottom: 10px;
}

.about-description p {
	margin-top: 0px;
}

.about-skills img {
	width: 90px;
}

.about-skills table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.about-skills td {
	padding: 10px;
}

.about-skills h2 {
	font-family: 'Bebas Neue';
	font-weight: 5;
	letter-spacing: 2px;
}



.project {
	margin: auto;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 50px;
	background-color: #333;
}

.project h1 {
	font-family: 'Segoe UI';
	font-weight: 100;
	font-size: 40px;
	margin-bottom: 30px;
	color: white;
}

.project table {
	margin-left: auto;
	margin-right: auto;
}

.project img {
	width: 200px;
	height: 135px;
	border-radius: 5px;
	margin-left: 2.5px;
	margin-right: 2.5px;
	border: 1px solid white;
}

.project .thumbnail {
	opacity: 0;
	transform: translate(0px, -40px);
}

.project .thumbnail.pop {
	opacity: 1;
	transition: 1s;
	transform: translate(0px, 0px);
}

.my-contact {
	margin-top: 50px;
	margin-bottom: 20px;
}

.contact-me {
	text-align: center;
	margin-bottom: 80px;
	font-family: 'Segoe UI';
	font-weight: 100;
	font-size: 40px;
}

.contact {
	margin: auto;
	width: 50%;
	display: flex;
}

.my-contact h1 {
	margin-bottom: 30px;
}

.con-address {
	width: 50%;
	margin-right: 0px;
}

.ca-greeting {
	text-align: center;
	background-color: #007BFF;
	color: white;
	border-radius: 5px;
	padding: 3px 0px 5px 0px;
	margin-right: 15px;
}

.con-address td {
	padding: 10px;
}

.con-address table h1 {
	margin-top: 25px;
	margin-bottom: 15px;
}

.gimme-border {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.con-address table {
	width: 95%;
	border-collapse: collapse;
	text-align: center;
}

.con-form {
	width: 50%;
	margin-left: 10px;
}

.con-form input, .con-form textarea {
	width: 95%;
	margin-bottom: 10px;
}

.con-form input {
	margin-top: 10px;
	border: 1px solid lightgray;
	line-height: 35px;
	font-size: 15px;
}

.con-form textarea {
	padding-bottom: 70px;
	margin-top: 10px;
	border: 1px solid lightgray;
	line-height: 20px;
}

.footer {
	text-align: center;
	color: white;
	background-color: #333;
	padding: 5px;
	font-size: 20px;
}

.footer a {
	color: #337AB7;
	text-decoration: none;
}

.footer a:hover {
	color: #337AFF;
}

button	{
	border: none;
	color: white;
	background-color: #007BFF;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	border-radius: 3px;
	margin: 0px;
	cursor: pointer;
}

button:hover {
	background-color: #007Bee;
}